[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/data/k8s/etcd/data
ExecStart=/home/mayuxuan0323/k8s/bin/etcd \
  --data-dir=/data/k8s/etcd/data \
  --wal-dir=/data/k8s/etcd/wal \
  --name=etcd-1 # Node Name. Need change by node. \ 
  --cert-file=/etc/etcd/cert/etcd.pem \
  --key-file=/etc/etcd/cert/etcd-key.pem \
  --trusted-ca-file=/etc/kubernetes/cert/ca.pem \
  --peer-cert-file=/etc/etcd/cert/etcd.pem \
  --peer-key-file=/etc/etcd/cert/etcd-key.pem \
  --peer-trusted-ca-file=/etc/kubernetes/cert/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --listen-peer-urls=https://10.146.0.3:2380 # Node IP. Need change by node. \
  --initial-advertise-peer-urls=https://10.146.0.3:2380  # Node IP. Need change by node. \
  --listen-client-urls=https://10.146.0.3:2379,http://127.0.0.1:2379 # Node IP. Need change by node. \ 
  --advertise-client-urls=https://10.146.0.3:2379 \ # Node IP. Need change by node.
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster=etcd-1=https://10.146.0.3:2380,etcd-2=https://10.142.0.2:2380,etcd-3=https://10.146.0.4:2380 # Node IPs. \
  --initial-cluster-state=new \
  --auto-compaction-mode=periodic \
  --auto-compaction-retention=1 \
  --max-request-bytes=33554432 \
  --quota-backend-bytes=6442450944 \
  --heartbeat-interval=250 \
  --election-timeout=2000
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
